@model Exercises.Models.Data.Student

@{
    ViewBag.Title = "Delete";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Delete Course</h3>
        @Html.ActionLink("Return to List", "List", "StudentId")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(s => s.StudentId)
            <p>Are you sure that you wish to delete this student @Html.DisplayFor(s => s.FirstName)?</p>
            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
            @Html.ActionLink("Cancel", "List", "Student")
        }
    </div>
</div>  